html, body {
  margin: 0;
  padding: 0;
  
}

body {
  display: block;
  background-color: black;
  font-family: 'Monaco',monospace;
  color: white;
  text-align: center;
  position: fixed;
  /*overflow-y: scroll;*/
  width: 100%;
}

canvas {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
  display: inline-block;
}

#ainsley1 {
  position: absolute;
  top: 20px;
  left: 36.5%;
}

#ainsley2 {
  position: absolute;
  top: 10px;
  left: 58.5%;
}

#plug {
  position:absolute;
  display: inline;
  text-align: left;
  top: 0;
  left: 0;
  margin: 0;
}

#mute {
  position:absolute;
  display: inline;
  text-align: left;
  top: 0;
  right: 0;
  margin: 0;
  color: grey;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif
}

#plug a {
  color: lime;
}

#winner {
  position: absolute;
  /*color: lime;*/
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  animation: zoom .5s linear 1 both;
}

@keyframes zoom {
  0% {
    font-size: initial;
  }
  100% {
    font-size: 100px;
  }
}

.animating {
  animation-play-state: running;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}