html, body {
  margin: 0;
  padding: 0;
  
}

body {
  display: block;
  background-color: black;
  font-family: 'Monaco',monospace;
  color: white;
  text-align: center;
  position: fixed;
  /*overflow-y: scroll;*/
  width: 100%;
}

canvas {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
  display: inline-block;
}

#ainsley1 {
  position: absolute;
  top: 20px;
  left: 36.5%;
}

#ainsley2 {
  position: absolute;
  top: 10px;
  left: 58.5%;
}

.scaled {
  --amount: 0.55;
  -ms-transform: scale(var(--amount), var(--amount)); /* IE 9 */
  -webkit-transform: scale(var(--amount), var(--amount)); /* Safari */
  transform:  translate(0, -310px) scale(var(--amount), var(--amount));
}

#plug {
  position:absolute;
  display: inline;
  text-align: left;
  top: 0;
  left: 0;
  margin: 0;
}

#plug a {
  color: lime;
}

#winner {
  position: absolute;
  color: lime;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}